{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}




 <body oncontextmenu='return false' class='snippet-body'>
                            <div class="container">
    <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-3 offset-md-3">
            <div class="panel border bg-white">
                <div class="panel-heading">
                    <h3 class="pt-3 font-weight-bold">Login</h3>
                </div>
                <div class="panel-body p-3">
                   <form method="post">
                   <div class="row">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
                        <div class="form-group py-2">
                            <div class="input-field"> <span class="fa-solid fa-lock p-2"></span> <input type="text" placeholder="Username or Email" required value="{{ last_username }}" name="email" id="inputEmail"  autocomplete="email" required autofocus> </div>
                        </div>
                        
                        
                        <div class="form-group py-2 ">
                            <div class="input-field"> <span class=""></span> <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password"  required autofocus placeholder="password"> <button class="btn bg-white text-muted"> <span class="far fa-eye-slash"></span> </button> </div>
                        </div>
                         <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
    <div class="form-inline"> <input type="checkbox" name="remember" id="remember"> <label for="remember" class="text-muted">Remember me</label> <a href="#" id="forgot" class="font-weight-bold">Forgot password?</a> </div>
                        <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
                        
                    </form>
                   
 </div>
                

               
            </div>
        </div>
    </div>

                            
                      
{% endblock %}

 