{% extends 'base.html.twig' %}

{% block title %}Hello DepartementsController!{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ asset('styles/courses.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('styles/courses_responsive.css') }}">

<div class="super_container">


	<div class="language">
	</div>





	<div class="courses mt-5">
		<div class="container ">
			<div class="row courses_row">

			

				{% for Departement in Departements %}
            <!-- Cours -->
            <div class="col-lg-4 course_col">
                <div class="course">
                    <div class="course_image"><img src="upload/images/Depatements/{{ Departement.images}}" alt=""></div>
                    <div class="course_body">
                        <div class="course_title"><a href="course.html">{{ Departement.name}}</a></div>
                        <div class="course_info">
                            <ul>
 <li><a href="instructors.html">{{ Departement.getChefDepartement()}}</a></li><li><a href="#"> {% for course in Departement.ChefDepartement.getCours() %}
            <li>{{course.NomCour}}</li>
        {% endfor %}</a></li>
                            </ul>
                        </div>
                        <div class="course_text">
                            <p>{{ Departement.description}}</p>
                        </div>
                    </div>
                    <div class="course_footer d-flex flex-row align-items-center justify-content-start">
                        <div class="course_students"><i class="fa fa-user" aria-hidden="true"></i><span>{{ Departement.enseignants.count }}</span></div>
                        <div class="course_rating ml-auto"><i class="fa fa-star" aria-hidden="true"></i><span>4,5</span></div>
                        <div class="course_mark trans_200"><a href="#">Voir</a></div>
                    </div>
                </div>
            </div>
             {% endfor %}

			</div>

			<div class="row">
				<div class="col">
					<div class="load_more_button"><a href="#">load more</a></div>
				</div>
			</div>
		</div>
	</div>


	
</div>
{% endblock %}
