{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ asset('plugins/video-js/video-js.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('styles/blog.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('styles/blog_responsive.css') }}">
	<!-- Home -->

	<div class="home">
		
	</div>

	<!-- Blog -->

	<div class="blog">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="welcome_title">Welcome to our blog!</div>
				</div>
			</div>
			<div class="row categories_row">
		 {% for BlogCategorie in BlogsCategorie %}
				<div class="col-xl-2 col-lg-4 col-md-6 blog_category_col">
					<a href="blog.html">
						<div class="blog_category">
							<div class="blog_category_image"><img src="upload/images/BlogsCategorie/{{BlogCategorie.img}}" alt=""></div>
							<div class="blog_category_title">{{ BlogCategorie.name }}</div>
						</div>
					</a>
				</div>
 {% endfor %}
			</div>

			<!-- Blog Posts -->
			
			<div class="row blog_row">

			

				 {% for Blog in Blogs %}
				<!-- Blog Post -->

				<div class="col-lg-6">
					<div class="blog_post">
						<div class="blog_image" style="background-image:url(upload/images/Blogs/{{Blog.image}})"></div>
						<div class="blog_title_container">
							<div class="blog_post_category"><a href="#">{{ Blog.CategorieBlog.name }}</a></div>
							<div class="blog_post_title"><a href="blog_single.html">{{Blog.name}}</a></div>
							<div class="blog_post_text">
								<p>{{Blog.introduction|raw}}</p>
							</div>
							<div class="read_more"><a href="blog_single.html">Read More <img src="images/right.png" alt=""></a></div>
						</div>
					</div>
				</div>

				 {% endfor %}
			

			</div>

			<!-- Load More -->
			<div class="row">
				<div class="col">
					<div class="load_more_button"><a href="#">load more</a></div>
				</div>
			</div>
		</div>
	</div>
	    <script>
		document.getElementById('Blog-display').className += 'active';
		</script>
{% endblock %}
