{% extends 'base.html.twig' %}

{% block title %}Hello EnseignantsController!{% endblock %}

{% block body %}
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/bootstrap4/bootstrap.min.css') }}">
        <link href="{{ asset('plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.carousel.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.theme.default.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/animate.css') }}">
        <link href="{{ asset('plugins/video-js/video-js.css') }}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/instructors.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/instructors_responsive.css') }}">


        <div class="super_container">


	

	
	

	<div class="home"></div>

	<!-- Video -->

	<div class="video">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="video_content">
						<div class="video_container_outer">
							<div class="video_overlay d-flex flex-column align-items-start justify-content-center " style="opacity: 0.7;">
								<div>we have</div><div>The Best</div><div>Teacher</div>
							</div>
							<div class="video_container">
								<video id="vid1" class="video-js vjs-default-skin" controls width="100%" height="100%" data-setup='{ "poster": "images/video.jpg", "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=j4dcUV8FTtE&ab_channel=LamalifGroup"}], "youtube": { "iv_load_policy": 1 } }'>
								</video>
							</div>
						</div>
						<div class="register_button"><a href="#">register</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Instructors -->

	<div class="instructors">
		<div class="instructors_background" style="background-image:url(images/instructors_background.png)"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<h2 class="section_title text-center">The Best Tutors in Town</h2>
				</div>
			</div>
			<div class="row instructors_row">

				<!-- Instructor -->
				 {% for teacher in teachers %}
          
     
				<div class="col-lg-4 instructor_col">
					<div class="instructor text-center">
						<div class="instructor_image_container">
							<div class="instructor_image"><img src="upload/images/Enseignants/{{teacher.Image}}" alt=""></div>
						</div>
						<div class="instructor_name"><a href="{{ path('app_enseignant', {'id': teacher.id}) }}">{{ teacher.nom }} {{ teacher.prenom }}</a></div>
						<div class="instructor_title">Teacher</div>
						<div class="instructor_text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis fringilla tortor.</p>
						</div>
						<div class="instructor_social">
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				   {% endfor %}

				

				
			</div>
		</div>
	</div>

	<!-- Top Teachers -->

	<div class="teachers">
		<div class="container">
			<div class="row">
				<div class="col">
					<h2 class="section_title text-center">Top Teachers in Every Field</h2>
				</div>
			</div>
			<div class="row teachers_row">

				<!-- Instructor -->
                {% for teacher in allTeachers %}
				<div class="col-lg-4 col-md-6">
					<div class="teacher d-flex flex-row align-items-center justify-content-start">
						<div class="teacher_image"><div><img src="upload/images/Enseignants/{{teacher.Image}}" alt=""></div></div>
						<div class="teacher_content">
							<div class="teacher_name"><a href="{{ path('app_enseignant', {'id': teacher.id}) }}">{{ teacher.nom }} {{ teacher.prenom }}</a></div>
							  {% for cour in teacher.cours %}
            <div class="teacher_title">{{ cour.nomCour}}</div>    
			  {% endfor %}
							
						</div>
					</div>
				</div>
                {% endfor %}


			
			

			
		
				
					
		


			</div>
		</div>
	</div>

	<!-- Footer -->

	
</div>

<script src="{{ asset('plugins/parallax-js-master/parallax.min.js')}}"></script>
<script src="{{ asset('plugins/progressbar/progressbar.min.js')}}"></script>
<script src="{{ asset('plugins/video-js/video.min.js')}}"></script>
<script src="{{ asset('plugins/video-js/Youtube.min.js')}}"></script>
<script src="{{ asset('js/instructors.js')}}"></script>
{% endblock %}
